@import '~bootstrap/scss/bootstrap';

input {
  text-align: center;
  border-radius: 5px;
}
.workout-btn {
  text-align: center;
}

.myCountdown {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}
.quote {
  text-align: center;
  color: white;
  margin-top: 20px;
  margin: 20px;
  padding: 5px;
  padding-bottom: 10px;
}
.home {
  margin: 10px;
  font-size: 20px;
  padding-bottom: 20px;
}
.add-countdown {
  text-align: center;
  align-items: center;
  margin: 5px;
  margin-top: 25px;
  color: #283747;
  font-size: 40px;
}
.list-countdowns {
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  color: #283747;
  font-size: 20px;
}
.one-countdown {
    margin: 20px;
    border: solid white;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 10px #888888;
    background-color: rgba(9, 29, 51, 0.69);
    color: white;
}
.today {
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
}
.date {
  font-size: 50px;
}
.home-message {
  text-align: center;
  margin-top: 10%;
  // color: #283747;
  color: white;
}
.welcome-message {
  font-size: 70px;
  justify-content: center;
  padding: 5px;
}
.home {
  background-color: rgba(9, 29, 51, 0.69);
  color: white;
  border-radius: 5px;
  // padding: 5px;
}
