@import '~bootstrap/scss/bootstrap';

input {
  text-align: center;
  border-radius: 5px;
}
.myCountdown {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}

.home {
  margin: 10px;
  font-size: 20px;
}

.today {
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
}
