.btn {
  margin: 3px;
}

// .form {
//   background-color: rgba(179, 204, 255, .3);
// }

.card-text {
  font-size: 20px;
}
.workout {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
  border: solid white;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
  box-shadow: 5px 10px #888888;
  align-content: center;
  background-color: rgba(179, 204, 255, .3);
  color: #283747;
}
.rbc-calendar {
  height: 600px;
}
app-body {
  margin-top: 10px;
}

.form-color {
  background-color: rgba(179, 204, 255, .3);

}
.list-group-item {
  margin: 5px;
  // background-color: rgba(0,0,0,0.5);
}
.form {
  color: #283747;
}
// .add-workout {
//   align-items: center;
// }
.list-workouts {
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  color: #283747;
}
.my-training {
  background-color: #2874A6;
}
.ironman-plan {
  background-color: #03B9A6;
}
.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.App-title-plan {
  text-align: center;
  align-items: center;
  color: #283747;
}
.App-title-my-cal {
  text-align: center;
  align-items: center;
  color: #283747;
}
.App-header {
  text-align: center;
}
.demo-app-top {
  margin: 0 0 3em;
}
// .icon {
//   font-size: 70px;
// }
.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}
.workout-header {
  font-size: 40px;
}
.one-workout {
    margin: 20px;
    border: solid white;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    box-shadow: 5px 10px #888888;
    background-color: rgba(9, 29, 51, 0.69);
    color: white;
}

.add-workout {
  text-align: center;
  align-items: center;
  margin: 5px;
  margin-top: 25px;
  color: #283747;
  font-size: 30px;
}
